<td>
{% if start_point and end_point %}
  [{{start_point['x']}}, {{start_point['y']}}] -> [{{end_point['x']}}, {{end_point['y']}}]
{% else %}
  Start
{% end %}
</td>
<td>
  <a id="link_post_{{history_id}}" href="{{ history_url }}">Restore</a>
</td>