<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/redips-drag-min.js"></script>
  <script type="text/javascript" src="static/js/game_field.js"></script>
</head>
<body>
  <div class="container">
    <h1>{{title}}</h1>
    <hr>
      Server status: <span id="message"></span>
    <hr>
      Scored points: <span id="scored_points">0</span>
    <hr>
    <div class="row">
    <span class="span5">
    <div id="drag">
    <table id="table" style="table-layout: fixed; border: solid 1px">
      <colgroup>
        {% for i in play_field %}
          <col width="40">
        {% end %}
      </colgroup>
      <tbody>
        {% for row in play_field %}
          <tr style="border: solid 1px;">
          {% for point in row %}
            <td id={{point.td_id}} class="active" height="40" width="40" style="border: solid 1px;">
              {% if point.value %}
                <div class="drag" id="{{point.div_id}}" style="cursor: move;">
                  {% raw point.as_html() %}
                </div>
              {% end %}
            </td>
          {% end %}
          </tr>
        {% end %}
      </tbody>
    </table>
    </div>
    </span>
    <span class="span4">
      <div id="div_history_table">
        <table id="history_table" class="table table-condensed">
          <thead>
            <tr>
              <th>Points</th>
              <th>Load</th>
            </tr>
          </thead>
          <tbody id="tbody_history_table">
            <tr>{% raw history_item[1] %}</tr>
          </tbody>
        </table>
      </div>
    </span>
    </div>
  </div>
  <script>
    window.ws = new WebSocket('ws://{{settings.HOST}}:{{settings.PORT}}{{ws_url}}');
    window.api_url = '{{api_url}}';
  </script>
  <script type="text/javascript" src="static/js/ws.js"></script>
</body>
</html>
